body {
    font-family: Arial, sans-serif;
    background-color: #e5ff00;
}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #0004ff;
    color: #fff;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-error {
    color: red;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0004ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(6, 79, 248), 27, 27;
}